@page "/"

<h1>Bula,</h1> <span style="font-size:14pt;font-weight:bold">Welcome to the dashboard.</span>
<br><br>
<div><span style="font-size:14pt">This page is still under construction, more... coming soon</span></div>
